@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #09090B;
}

h1 {
    color: #F2F2F2;
    text-align: center;
    font-size: 30px;
    margin: 0px;
}

h2 {
    color: #F2F2F2;
}

span {
    color: #F2F2F2;
}

li {
    color: #F2F2F2;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin: 20px auto;
    max-width: 3000px;
    margin-top: 80px;
}

.card-add {
    justify-content: center;
    cursor: pointer;
}

.card-add:hover {
    background-color: #27272A;
}

.add-icon {
    width: 100px;
    height: 100px;
}

.add-text {
    color: #F2F2F2;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191919;
    border: 3px solid #27272A;
    border-radius: 20px;
    padding: 20px;
    width: 280px;
    text-align: center;
    height: 320px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    white-space: normal; 
}

.card-body {
    justify-content: space-between;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.button1:hover .edit path{
    stroke: #D62525;
}
.button1:hover .edit polygon{
    stroke: #D62525;
}

.button1:hover .remove path{
    fill: #D62525;
}

.card-title {
    font-size: 20px;
    color: #F2F2F2;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: #F2F2F2;
    line-height: 50px;
}

.card-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0px;
}

.button1 {
    background-color: #191919;
    border: hidden;
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative; 
}

.logo {
    width: 200px; 
    height: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #191919;
    border: 3px solid #27272A;
    padding: 30px;
    border-radius: 20px;
    width: 1000px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #f2f2f2;
}

.player-form {
    display: flex;
    flex-direction: column;  
    gap: 15px; 
    margin-top: 20px;
    justify-content: left;
    align-items: center;
}


.player-form input,
.player-form select {
    width: 100%;
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    padding-right: 0px;
    width: 580px;
    align-items: center;
}

.player-form input:focus,
.player-form select:focus {
    border-color: #848487;
    outline: none;
}


.close-btn {
    background-color: #D62525;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

input[type=text], input[type=email], input[type=number]{
    background-color: transparent;
    border: solid 3px #27272A;
    color: #f2f2f2;
    width: 800px;
}

.player-form select{
    background-color: transparent;
    border: solid 3px #27272A;
    color: #f2f2f2;
    width: 820px;
}

option{
    color: #09090B;
  }

input[type=text]:hover, input[type=email]:hover, input[type=number]:hover,
.player-form select:hover {
    border-color: #D62525; 
}


.close-btn:hover {
    background-color: #c82333; 
}


input,
select {
    margin-bottom: 10px;
}


.modal-content {
    padding: 30px;
}


.player-form label {
    color: #f2f2f2;
    font-size: 1.1rem; 
    font-weight: 700; 
    margin-bottom: 8px; 
    text-align: left;
    width: 100%;
}

.form-group {
    flex-direction: column;
    display: flex;
    margin-top: 10px;
}

.delete-modal {
    background-color: #191919;
    border: 3px solid #27272A;
    padding: 40px;
    border-radius: 20px;
    width: 400px;  
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 100%;
}

.modal-title {
    font-size: 20px;
    color: #f2f2f2;
    margin-bottom: 30px;
}

.modal-message {
    font-size: 16px;
    font-weight: 500;
    color: #f2f2f2;
    margin-bottom: 30px;
}
.FormModalButtons {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.modal-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.btn {
    padding: 10px;
    width: 150px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.btn-red {
    background-color: #D62525;
    color: #F2F2F2;
    transition: background-color 0.3s;
}

.btn-red:hover {
    background-color: #ae1e1e;
}

.btn-white {
    background-color: #f2f2f2;
    color: #09090B;
    transition: background-color 0.3s;
}

.btn-white:hover {
    background-color: #d1d1d1;
}
